apiVersion: v1
kind: Secret
metadata:
  name: {{ include "hotswap.fullname" . }}
  labels:
    {{- include "hotswap.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if not .Values.postgresql.enabled }}
  {{- if not .Values.externalDatabase.existingSecret }}
  database-password: {{ .Values.externalDatabase.password | b64enc | quote }}
  {{- end }}
  {{- end }}
  {{- if eq .Values.vault.authMethod "token" }}
  vault-token: {{ .Values.vault.token | b64enc | quote }}
  {{- end }}
  {{- if eq .Values.vault.authMethod "approle" }}
  vault-role-id: {{ .Values.vault.appRole.roleId | b64enc | quote }}
  vault-secret-id: {{ .Values.vault.appRole.secretId | b64enc | quote }}
  {{- end }}
  {{- range $key, $value := .Values.extraSecrets }}
  {{ $key }}: {{ $value | b64enc | quote }}
  {{- end }}
